<div class="section section__hero">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>IOTA Match</h1>
        <p>Find developers and projects to get started!</p>
        <a class="btn btn-primary btn-white btn-lg" href="/people" role="button">Find Developers</a>
        <a class="btn btn-primary btn-white btn-lg" href="/projects" role="button">Find Projects</a>
      </div>
      <div class="col">

      </div>
    </div>
  </div>
</div>
<div class="section section__info-box">
  <div class="container">
    <div class="jumbotron">
      <h1>IOTA Match</h1>
      <p>IOTA Ecosystem matching system. This is a PoC application and still work in progress.</p>
      <hr class="my-4">
      <p>To join match.iota.org as a developer or with your project, you need to add "match" as a tag in your Ecosystem Profile.</p>
      <ul>
        <li>User: tag your interest with "match"</li>
        <li>Project: tag your profile with "match"</li>
      </ul>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>
</div>
