<div class="section section__explore">
  <div class="container">
    <div class="row headline">
      <div class="col">
        <h1>IOTA Developers</h1>
      </div>
    </div>

    <div class="filter-container">
      <ul class="filter-list">
        <% @filter_tags.each do |tag| %>
        <li onclick="sort_by_tag('<%= tag %>')"><%= tag %></li>
        <% end %>
      </ul>
      <button id="clear_filter" type="button"  class="btn btn-primary btn-xs" onclick="clear_filter()">clear filter</button>
    </div>

    <div class="card-list">
      <% unless @people.empty? %>
        <% @people.each do |user| %>
          <div class="card">
            <div class="avatar rounded-circle" style="background-image: url('<%= user["avatar"] %>')"></div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted"><%= user["category"] %></h6>
              <h5 class="card-title"><%= user["name"] %></h5>
              <p class="card-text"><%= user["vision"] %></p>
              <% if user["skills"] %>
                <div class="list-header">
                  <hr><span>Skills</span><hr>
                </div>
                <ul class="skill-list">
                  <% user["skills"].each do |skill| %>
                    <li><%= skill %></li>
                  <% end %>
                </ul>
              <% end %>
              <% if user["interests"] %>
                <div class="list-header">
                  <hr><span>Interests</span><hr>
                </div>
                <ul>
                <% user["interests"].each do |interest| %>
                  <li><%= interest %></li>
                <% end %>
                </ul>
              <% end %>

            </div>
            <div class="card-footer">
              <%= link_to "Visit on Ecosystem", user["eco_url"], class: 'btn btn-primary', target: '_blank' %>
              <%#= link_to "Donate", "", class: 'btn btn-green-outline', target: '_blank' %>
            </div>
          </div>
        <% end %>

      <% else %>
        <div class="col">
          <div class="alert alert-warning text-center">
            <strong>No people here at the moment</strong> - add "match" as an interest to your <a href="https://ecosystem.iota.org" target="_blank">IOTA Ecosystem</a> user profile!
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">

  function onClick() {

  }

 function sort_by_tag(tag) {
   clear_filter();
   $(event.target).addClass('active');
   var skillLists = $( "ul.skill-list" );
   skillLists.each(function(index, list) {
     let items = $(list).find('li');
     let found = false;
     items.each(function(index, item) {
       if ($(item).text() == tag) {
         found = true;
       }
     })
     if (!found) {
       $(list).parent().parent().hide()
     }
   })
 }

 function clear_filter() {
   var skillLists = $( "ul.skill-list" );
   $('.filter-list').find('li').removeClass('active');

   skillLists.each(function(index, list) {
      $(list).parent().parent().show();
   });
 }

</script>
