/* --------------------------------------------------------------------
Mixins
-------------------------------------------------------------------- */
// Layout
@mixin flex($flex_direction: row, $justify-content: flex-start, $flex-wrap: wrap) {
  display: flex;
  flex-direction: $flex_direction;
  justify-content: $justify-content;
  flex-wrap: $flex-wrap;
}

@mixin size($height, $width) {
  height: $height;
  width: $width;
}

@mixin border-radius($radius: 5px) {
  border-radius: $radius;
}

@mixin bg-image($size: cover, $position: center center, $repeat: no-repeat) {
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
}

@mixin transition($property: all, $duration: .2s, $type: ease-in-out) {
  transition: $property $duration $type;
}

@mixin box-shadow($box-shadow: 0 0 6px 0 rgba(0,0,0,.15)) {
  box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
}

@mixin box($theme: light) {
  @include box-shadow;
  @include border-radius;
  @if $theme == light {
    background: var(--white_100);
    color: var(--dark);
    h1, h2, h3, h4, h5, h6, p, a, span {
      color: var(--dark);
    }
  } @else if $theme == dark {
    background: var(--black_25);
    h1, h2, h3, h4, h5, h6, p, a, span {
      color: var(--white_100);
    }
  } @else if $theme == very_dark {
    background: var(--black_75);
    h1, h2, h3, h4, h5, h6, p, a, span {
      color: var(--white_100);
    }
  }
}

@mixin font-family($weight: "Light", $family: "NunitoSans") {
  font-family: "#{$family}-#{$weight}";
}

@mixin uppercase($size: 0.8rem, $weight: bold) {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: $size;
  @include font-family($weight);
  margin: 0;
}

/* --------------------------------------------------------------------
   Color & Gradient Mixins
-------------------------------------------------------------------- */
// One gradient to rule them all
@mixin linear-gradient($direction: left, $from: var(--dark), $to: var(--dark-2)) {
  background-color: $from; /* Old browsers */
  background-image: linear-gradient($direction, $from 0%, $to 100%); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  background-image: -moz-linear-gradient($direction, $from 0%, $to 100%); /* FF3.6-15 */
  background-image: -webkit-linear-gradient($direction, $from 0%, $to 100%); /* Chrome10-25,Safari5.1+ */
}

// Backgrounds
@mixin bg($type: dark, $direction: left) {
  @if $type == 'light' {
    @include linear-gradient($direction, var(--white_100), var(--light-2));
    color: var(--dark);
  } @else if $type == 'dark' {
    @include linear-gradient($direction, var(--dark), var(--dark-2));
    color: var(--white_100);
  } @else if $type == 'primary' {
    @include linear-gradient(45deg, var(--primary), var(--secondary));
    color: var(--white_100);
  } @else if $type == 'secondary' {
    @include linear-gradient(45deg, var(--secondary), var(--secondary-2));
    color: var(--white_100);
  }
   @else if $type == 'dark-opacity_50' {
    @include linear-gradient($direction, var(--black_50), var(--black_0));
  } @else if $type == 'dark-opacity_25' {
    @include linear-gradient($direction, var(--black_25), var(--black_0));
  }
}

// Background for cards
@mixin card-gradient {
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.5) 0%, rgba(14, 14, 14, 1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.5) 0%, rgba(14, 14, 14, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(14, 14, 14, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

// Except this animated one for introduction page
@mixin gradient_animated {
  background: linear-gradient(270deg, rgb(23, 90, 226), rgb(0, 255, 146));
  background-size: 400% 400%;
  -webkit-animation: backgroundGradient 30s ease infinite;
  -moz-animation: backgroundGradient 30s ease infinite;
  animation: backgroundGradient 30s ease infinite;
}
