/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "mixins";

 // Colors
 :root {
   --primary: #a64d79;
   --secondary: #674ea7;

   --black_100: rgba(0, 0, 0, 1);
   --black_80: rgba(0, 0, 0, .8);
   --black_75: rgba(0, 0, 0, .75);
   --black_50: rgba(0, 0, 0, .5);
   --black_25: rgba(0, 0, 0, .25);
   --black_20: rgba(0, 0, 0, .2);
   --black_10: rgba(0, 0, 0, .1);
   --black_0: rgba(0, 0, 0, 0);
   --white_100: rgba(255, 255, 255, 1);
   --white_75: rgba(255, 255, 255, 0.75);
   --white_50: rgba(255, 255, 255, 0.5);
   --white_25: rgba(255, 255, 255, 0.25);
   --white_20: rgba(255, 255, 255, 0.2);
   --white_10: rgba(255, 255, 255, 0.1);
   --white_5: rgba(255, 255, 255, 0.05);
   --white_0: rgba(255, 255, 255, 0);

   --dark: rgba(46, 46, 46, 1);
   --dark-2: rgba(63, 63, 63, 1);
   --dark-3: rgba(89, 89, 89, 1);

   --light: rgba(243, 243, 243, 1);
   --light-2: rgba(238, 238, 238, 1);
   --light-3: rgba(216, 216, 216, 1);
   --alert: #D06565;
   --yellow: #e2ae02;
   --blue: #14A5BF;
 }

 // Typo
 * {
   font-family: 'Nunito Sans';
 }
 h1, h2, h3, h4, h5, h6 {
   font-weight: 700;
 }
 h1 {
   font-size: 3em;
 }

 // Button
 .btn.btn-primary.btn-white {
   background-color: var(--white_100);
   border: none;
   @include box-shadow;
   color: var(--primary) !important;
   font-size: 1em;
   @include transition;
   &:hover {
     @include bg(primary);
     color: white !important;
   }
 }
 .btn.btn-primary {
   @include bg(primary);
   background-image: none;
   border: none;
   @include box-shadow;
   color: var(--white_100);
   font-size: 1em;
   @include transition;
   &:hover {
     @include bg(primary);
     color: white !important;
   }
 }
