@import "mixins";

.card-list {
  margin: 0 -15px;
  @include flex(row, flex-start, wrap);
  .card {
    width: calc((100% - 120px) / 4);
    margin: 0 15px 30px;
    .avatar.rounded-circle {
      @include size(8rem, 8rem);
      margin: 1.25rem auto 0.5rem;
      @include bg-image;
      background-color: var(--light);
    }
    .card-img-top {
      height: 140px;
      @include bg-image;
    }
    .card-footer {
      .btn {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.filter-container {
  @include flex(column, flex-start);
  align-items: center;
  .filter-list {
    list-style-type: none;
    padding-left: 0;
    @include flex(row, center, wrap);
    li {
      background: var(--black_50);
      border-radius: 5px;
      padding: 2px 6px;
      margin: 0 8px;
      color: var(--white_100);
      cursor: pointer;
      @include transition;
      &.active {
        background: var(--primary);
      }
    }
  }
  #clear_filter {
    margin-bottom: 30px;
  }
}



// Home
.section {
  &__hero {
    background-image: image-url('match-hero.jpg');
    @include bg-image;
    height: 80vh;
    @include flex(column, center);
    .container .row {
      .col {
        h1, p, a {
          color: white;
        }
        p {
          font-size: 1.2em;
          margin-bottom: 20px;
        }
        a.btn.btn-primary {
          margin-right: 20px;
        }
      }
    }
  }
  &__info-box {
    @include bg(dark);
    color: var(--dark);
    padding: 80px 0;
    .container .jumbotron {
      background-color: var(--white_100);
      padding: 2rem;
    }
  }
  &__explore {
    padding-top: 140px;
    @include bg(primary);
    color: var(--dark);
    min-height: 100vh;
    h1 {
      color: var(--white_100);
      margin-bottom: 30px;
      text-align: center;
    }
    .card {
      border: none;
      @include box-shadow;
      .card-footer {
        @include flex(row, center);
      }
      .list-header {
        @include flex(row, space-between, nowrap);
        align-items: center;
        margin-bottom: 10px;
        hr {
          width: 50%;
          color: var(--black_75);
        }
        span {
          font-weight: 700;
          width: 50%;
          text-align: center;
          background: var(--white_100);
          @include border-radius;
          color: var(--primary);
        }
      }
      ul {
        list-style-type: none;
        padding-left: 0;
        @include flex(row, flex-start, wrap);
        li {
          padding: 0px 6px;
          border-radius: 5px;
          margin: 0 8px 8px 0;
          background-color: var(--primary);
          color: var(--white_100);
        }
      }
    }
  }
}
