<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="/">
    <%= image_tag("logo-horizontal-light.svg") %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <div class="navbar-toggler-wrapper">
      <span class="line line__top"></span>
      <span class="line line__center"></span>
      <span class="line line__bottom"></span>
    </div>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item <%= "active" if request.path == '/' %>">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item <%= "active" if request.path == '/projects' %>">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item <%= "active" if request.path == '/people' %>">
        <a class="nav-link" href="/people">People</a>
      </li>
    </ul>
  </div>
</nav>
